<div class="container">
  <mat-card class="card" tabindex="0" role="form">
    <mat-card-title class="title">Login</mat-card-title>
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="form">
      <mat-form-field>
        <mat-label>Employee ID</mat-label>
        <input
          matInput
          placeholder="Enter your employee ID"
          type="text"
          [formControl]="authForm.get('empid')"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
          [formControl]="authForm.get('password')"
        />
      </mat-form-field>

      <div class="error" *ngIf="authForm.errors">
        <p *ngIf="authForm.errors.credentials">
          Invalid Employee ID or Password
        </p>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="accent" class="login-btn">
          <mat-icon>exit_to_app</mat-icon>
          <span>Login</span>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
