<div class="my-5 py-5" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form
        (submit)="onSubmit(registerForm)"
        #registerForm="ngForm"
        fxLayout="column"
        fxLayoutGap="15px"
      >
        <mat-form-field>
          <mat-label>EmpID:</mat-label>
          <input
            matInput
            name="empid"
            ngModel
            type="text"
            placeholder="Employee ID"
            #empidInput="ngModel"
            required
          />
          <mat-error *ngIf="empidInput.invalid"
            >Employee ID is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Employees Name:</mat-label>
          <input
            matInput
            name="name"
            ngModel
            type="text"
            placeholder="Please enter employees first & last name"
            #nameInput="ngModel"
            required
          />
          <mat-error *ngIf="nameInput.invalid"
            >Employees first & last name is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email Address:</mat-label>
          <input
            matInput
            name="email"
            ngModel
            type="email"
            placeholder="Please enter email address!"
            #emailInput="ngModel"
            required
          />
          <mat-error *ngIf="emailInput.invalid"
            >Please enter a valid email address!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input
            matInput
            name="password"
            ngModel
            type="password"
            placeholder="Please enter a password"
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="passwordInput.invalid"
            >Password is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Employee Role</mat-label>
          <mat-select name="role" ngModel #roleInput="ngModel">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="manager">Manager</mat-option>
            <mat-option value="user">User</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Avatar Path:</mat-label>
          <input
            matInput
            name="avatarPath"
            ngModel
            type="text"
            placeholder="Please enter employees avatar path!"
            #avatarPathInput="ngModel"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Designation:</mat-label>
          <input
            matInput
            name="designation"
            ngModel
            type="text"
            placeholder="Please enter the employees position"
            #designationInput="ngModel"
          />
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
