<div class="container">
  <mat-card class="card" tabindex="0" role="form">
    <mat-card-title class="title">Login</mat-card-title>
    <form class="form" (ngSubmit)="onLoginSubmit($event)">
      <div class="error mat-error" *ngIf="formErrors">
        {{ formErrors }}
      </div>
      <mat-form-field>
        <mat-label>Employee ID</mat-label>
        <input
          matInput
          placeholder="Enter your employee ID"
          id="empid"
          name="empid"
          [(ngModel)]="credentials.empid"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
          id="password"
          name="password"
          [(ngModel)]="credentials.password"
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          class="login-btn"
          type="submit"
          role="button"
        >
          <mat-icon>exit_to_app</mat-icon>
          <span>Login</span>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
