<app-header></app-header>
<main class="content" *ngIf="isAuthenticated">
  <div class="authorized-only" *ngIf="authorized()">
    <app-employees></app-employees>
    <app-task-create></app-task-create>
  </div>
  <app-drawer>
    <div class="board">
      <div class="card-list mat-elevation-z1">
        <h2 class="mat-h2 todo">
          ToDo's
        </h2>
        <div
          cdkDropList
          class="card-list-content"
          #todoList="cdkDropList"
          id="todo"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[progressList, completeList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-card
            cdkDrag
            data-id="{{ task._id }}"
            *ngFor="let task of todo"
            [title]="task.title"
            [assignedTo]="task.assignedTo"
            [createdBy]="task.createdBy"
            (edit)="editTask(task)"
            (delete)="deleteTask(task)"
          ></app-card>
        </div>
      </div>
      <div class="card-list mat-elevation-z1">
        <h2 class="mat-h2 progress" style="text-align: center;">
          <span style="text-align: center; color: white;margin: auto;">In Progress</span>
        </h2>
        <div
          cdkDropList
          class="card-list-content"
          #progressList="cdkDropList"
          id="progress"
          [cdkDropListData]="progress"
          [cdkDropListConnectedTo]="[todoList, completeList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-card
            cdkDrag
            data-id="{{ task._id }}"
            *ngFor="let task of progress"
            [title]="task.title"
            [assignedTo]="task.assignedTo"
            [createdBy]="task.createdBy"
            (edit)="editTask(task)"
            (delete)="deleteTask(task)"
          ></app-card>
        </div>
      </div>
      <div class="card-list mat-elevation-z1">
        <h2 class="mat-h2 complete">
          Complete
        </h2>
        <div
          cdkDropList
          class="card-list-content"
          #completeList="cdkDropList"
          id="complete"
          [cdkDropListData]="complete"
          [cdkDropListConnectedTo]="[todoList, progressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <app-card
            cdkDrag
            data-id="{{ task._id }}"
            *ngFor="let task of complete"
            [title]="task.title"
            [assignedTo]="task.assignedTo"
            [createdBy]="task.createdBy"
            (edit)="editTask(task, task._id)"
            (delete)="deleteTask(task)"
          ></app-card>
        </div>
      </div>
    </div>
  </app-drawer>
</main>

<main class="content" *ngIf="!isAuthenticated">
  <router-outlet></router-outlet>
</main>
