@import 'src/variables';
.add-task {
  width: 100%;
  text-align: center;
  height: 200px;
  display: inline-block;
  p {
    font-size: 20px;
    font-weight: bold;
    color: $primary;
  }
  form {
    display: inline-block;

  }
}
