<div class="add-task">
  <p>Add New Task</p>
  <form #newTaskForm="ngForm">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label for="title" class="sr-only">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          ngModel
          placeholder="Task Title"
          #titleInput="ngModel"
          required
        >
      </div>
      <div class="col-auto">
        <label for="content" class="sr-only">Content</label>
        <textarea
          name="content"
          id="content"
          rows="4"
          ngModel
          placeholder="Task Content"
          class="form-control"
          #contentInput="ngModel"
        ></textarea>
      </div>
      <div class="col-auto">
        <label for="assignedTo" class="sr-only">Assigned To</label>
        <select
          name="assignedTo"
          id="assignedTo"
          ngModel
          class="form-control"
          #assignedTo="ngModel"

        >
          <option *ngFor="let employee of employees" value="{{ employee.empid }}">{{ employee.name }}</option>
        </select>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary mb-2" type="submit" (click)="addTask(newTaskForm)">Add Task</button>
      </div>
    </div>
  </form>
</div>
