@import '../../variables';

.mat-toolbar {
  height: 110px;
}

.logo {
  outline: none;
  display: inline-flex;
}

.logo-img {
  height: 100px;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
}

.nav-links__item {
  color: white;
}

.nav-links__item--active {
  color: $accent;
}

.route-loader {
  height: 4px;
  background-color: $primary;
}
